/* Font Colors */

$base-font-size:20px;
$base-font-family:'Playfair Display', serif;
$base-font-color:#666666;


/* Background Colors */

$primary-color:#c22237;
$secondary-color:#f5b71f;
$light-color:#f6bc6f;
$dark-color:#870e49;


/* Showcase Area */

$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';
